.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatbot-header {
  text-align: center;
}

.chatbot-window-paper {
  padding: 20px;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #45e10f17 !important;
}

.chatbot-window-paper::-webkit-scrollbar {
  display: none;
}

.chatbot-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 5px;
}

.message.user {
  width: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start !important;
}

.message.bot {
  width: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}